{
  email ${ACME_EMAIL}
}

${DOMAIN} {
  encode gzip

  handle /api/* {
    reverse_proxy backend:3001
  }

  handle /uploads/* {
    reverse_proxy backend:3001
  }

  handle {
    reverse_proxy frontend:80
  }
}
